%h2-italic {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  font-style: italic;
  color: $color-light-red;
}

%a-link {
  &:link,
  &:visited {
    text-decoration: none;
    color: $color-white;
  }

  &:hover,
  &:active {
    color: $color-grey;
    border-radius: 3%;
    box-shadow: 0 0 0 3px $color-grey;
  }
}

%button {
  &:link,
  &:visited {
    text-decoration: none;
    text-align: center;
    color: $color-white;
    background-color: $color-light-red;
    font-family: inherit;
    border: none;
    transition: all 0.3s;
    font-weight: 500;
  }
  &:hover,
  &:active {
    background-color: $color-dark-red;
  }
}
