/*
FONT WEIGHT
思源體 Bold 700, Medium 500, Regular 400
Roboto Black Italic 900, Medium 500, Regular 400

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 36 / 48 / 64 / 72 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 48 / 52 / 62 / 74 / 86 / 98
*/

/* Font******** */
h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 96px;

  @include sm-pad {
    font-size: 48px;
    line-height: 72px;
  }
  @include mobile {
    font-size: 24px;
    line-height: 36px;
  }
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: $color-dark-red;

  @include pad {
    font-size: 44px;
    line-height: 64px;
  }
  @include sm-pad {
    font-size: 36px;
    line-height: 48px;
  }
  @include mobile {
    font-size: 24px;
    line-height: 36px;
  }
}

.h2-line {
  color: $color-dark;
  padding-left: 16px;
  border-left: 8px solid #9f1213;
  margin-bottom: 32px;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  @include sm-pad {
    font-size: 24px;
    line-height: 36px;
  }
  @include mobile {
    font-size: 16px;
    line-height: 24px;
  }
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

p,
form {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

span {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}
