// color
$color-white: #fff;
$color-dark: #000000;
$color-light-red: #aa0601;
$color-dark-red: #650300;
$color-pink-white: #fbf2f2;
$color-grey: #ddd;
$color-dark-grey: #555555;

$card-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1);
