/* News Nav***** */
.news-nav {
  background-color: $color-dark-red;
  color: $color-white;
  div {
    @include header-nav-flex;
    padding: 12px;
  }

  ul {
    li {
      @extend %a-link;
      cursor: pointer;
    }
    display: flex;
    list-style: none;
    font-weight: 700;
    gap: 48px;
    font-size: 20px;
    line-height: 30px;

    @include sm-pad {
      gap: 24px;
      font-size: 16px;
      line-height: 24px;
    }
    @include mobile {
      gap: 16px;
    }
  }

  ion-icon {
    @extend %a-link;
    cursor: pointer;

    font-size: 30px;
    line-height: 30px;
    @include sm-pad {
      display: none;
    }
  }
}

/* Blog********* */
.section-blog {
  .grid {
    @include sm-pad {
      row-gap: 24px;
    }
  }
  img {
    max-width: calc((100%-24px) / 2);
    height: auto;
    object-fit: cover;
    @include sm-pad {
      max-width: 100%;
    }
  }

  div.blog-box {
    display: flex;
    gap: 24px;
    @include sm-pad {
      flex-direction: column;
      gap: 8px;
    }

    &:last-child {
      margin-bottom: 44px;
      @include pad {
        margin-bottom: 0;
      }
    }

    div.blog-textbox {
      display: flex;
      flex-direction: column;
    }

    a.more-link {
      align-self: flex-end;
      text-decoration: none;
      color: $color-dark-red;
      font-size: 36px;
      line-height: 54px;
      font-weight: 700;
      right: 0;
      bottom: 0;

      @include pad {
        font-size: 16px;
        line-height: 24px;
        color: $color-dark-grey;
      }

      &:hover,
      &:active {
        color: $color-light-red;
      }
      @include sm-pad {
        display: none;
      }
    }
  }

  div.blog-subtitle-box {
    display: flex;
    justify-content: space-between;

    @include sm-pad {
      flex-direction: row;
    }

    span {
      &:first-child {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;

        @include pad {
          font-size: 16px;
          line-height: 24px;
        }
      }
      &:last-child {
        font-size: 16px;
        line-height: 24px;
        color: $color-dark-grey;
      }
    }
  }

  .blog-title {
    font-size: 32px;
    line-height: 48px;
    color: $color-dark-red;
    text-decoration: none;
    &:hover,
    &:active {
      color: $color-light-red;
    }
    @include pad {
      font-size: 24px;
      line-height: 36px;
    }
  }

  p.blog-text {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    color: $color-dark-grey;
    flex-grow: 1;

    @include pad {
      font-size: 16px;
      line-height: 24px;
      padding-top: 4px;
    }
    @include sm-pad {
      display: none;
    }
  }
}
