/* Home******** */
.section-home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 80px);
  background-image: url(../pics/home-header.png);
  @include sm-pad {
    background-image: url(../pics/home-header-sm.png);
    height: 396px;
  }

  div.home-textbox {
    color: $color-dark-red;
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: right;
    padding-right: 12px;
    @include pad {
      padding-right: 36px;
    }
    @include mobile {
      padding-right: 16px;
    }

    div {
      display: inline;
      margin-top: 8px;
      a {
        @extend %button;
        padding: 6px 12px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

/* Feature***** */
.section-feature {
  background-color: $color-pink-white;

  div.home-flexbox {
    gap: 24px !important;
  }

  div.home-flex {
    div {
      max-width: calc((100% - 72px) / 4);
      @include pad {
        max-width: calc((100% - 24px) / 2);
      }
      @include mobile {
        max-width: 100%;
      }
    }
    img {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
    }
    h4 {
      color: $color-dark-red;
      font-weight: 700;
      text-align: center;
      padding: 16px 0 8px 0;
    }
  }
}

/* Classic***** */
.section-classic {
  div.home-flex {
    @include pad {
      flex-direction: column;
    }
    div {
      max-width: calc((100% - 48px) / 3);
      @include pad {
        max-width: 336px;
      }
      @include mobile {
        margin: 0 auto;
        max-width: 100%;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    h2 {
      @extend %h2-italic;
    }
  }
}

/* Co Deisng*** */
.section-cd {
  background-image: url(../pics/index-bg.png);
  background-position: center;
  background-size: cover;
  @include pad {
    background-image: url(../pics/index-bg-md.png);
  }
  @include mobile {
    background-image: url(../pics/index-bg-sm.png);
  }

  h2 {
    color: $color-white;
  }

  .cd-flex {
    display: flex;
    @include pad {
      flex-direction: column;
      gap: 24px;
    }

    img {
      width: 100%;
      height: auto;
    }
    h2 {
      @extend %h2-italic;
      background-color: $color-white;
    }
  }
}

/* Testimonial* */
.section-testimonial {
  div.home-flex {
    margin: 0 auto;
    div {
      box-shadow: $card-shadow;
      display: flex;
      height: 511px;
      flex-direction: column;
      max-width: calc((100% - 72px) / 4);

      @include pad {
        min-width: calc((100% - 24px) / 2);

        @include mobile {
          max-width: 100%;
          height: auto;
        }
      }

      img {
        height: 306px;
        object-fit: cover;
        @include mobile {
          width: 100%;
          height: auto;
        }
      }

      p {
        padding: 16px;
        &.testi-text {
          flex-grow: 1;
        }
        &:last-child {
          font-size: 14px;
          color: #707070;
        }
      }
    }
  }
}

/* CTA********* */
.section-cta {
  background-color: $color-pink-white;

  div.home-flexbox {
    gap: 24px !important;
  }

  div.cta-container {
    max-width: 636px;

    p {
      padding-top: 24px;
      font-size: 20px;
      line-height: 30px;
      @include sm-font-media;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;

      .text-input {
        width: 100%;
        padding: 6px 12px;
        margin-top: 8px;
        font-size: 16px;
        font-family: inherit;
        color: inherit;
        border: 1px solid $color-dark;
        background-color: $color-pink-white;
      }
      .feedback-input {
        padding: 6px 12px 106px 12px;
      }
      .checkbox {
        width: 16px;
        height: 16px;
      }
      .cta-button {
        @extend %button;
        display: inline-block;
        margin-top: 48px;
        align-self: center;
        padding: 16px 176px;
        @include pad {
          padding: 16px 136px;
        }
        @include mobile {
          padding: 16px 0;
          width: 100%;
        }
      }
    }
  }
}
