/* Pages Nav Bar*** */
.section-bar-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 24px 12px 8px 12px;

  @include pad {
    padding: 8px 36px;
  }
  @include mobile {
    padding: 16px 16px 8px 16px;
  }

  p {
    padding-bottom: 8px;
  }

  span.red-bar {
    color: $color-light-red;
    font-size: 16px;
    line-height: 24px;
  }

  span.tags {
    color: $color-light-red;
    font-weight: 700;
    @include sm-font-media;
  }
}

/* Projects****** */
.section-projects {
  .container {
    padding: 0 12px 80px 12px;
    @include pad {
      padding: 0 36px 80px 36px;
    }
    @include mobile {
      padding: 0 16px 64px 16px;
    }
  }
  .grid-project-cols {
    display: grid;
    column-gap: 24px;
    grid-template-columns: 3fr 2fr;

    @include pad {
      grid-template-columns: 4fr 1fr;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    font-weight: 400;
    color: $color-dark;
  }

  p.project-name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 16px;

    @include sm-pad {
      font-size: 16px;
      line-height: 24px;
    }
  }

  div.project-container {
    margin-bottom: 40px;

    &:not(:last-child) {
      @include mobile {
        margin-bottom: 24px;
      }
    }
    img {
      max-width: 100%;
      object-fit: cover;
    }
    p {
      color: $color-dark-grey;
    }
  }

  div.share-bar {
    margin-bottom: 16px;
    ul {
      list-style: none;
      display: flex;
      gap: 16px;
      align-items: center;
    }
    img {
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
    a {
      font-weight: 700;
      &:link,
      &:visited {
        color: #000000;
        text-decoration: none;
      }

      &:hover,
      &:active {
        color: $color-light-red;
        border-radius: 5%;
        box-shadow: 0 0 0 3px $color-grey;
      }
    }

    @include mobile {
      display: none;
    }
  }

  div.project-link {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    a {
      color: $color-dark;
      text-decoration: none;
      display: inline-block;
      &:hover,
      &:active {
        color: $color-light-red;
      }
      @include sm-pad {
        font-size: 10px;
        line-height: 16px;
      }
      @include mobile {
        display: none;
      }
    }
  }

  div.tags-container {
    color: $color-light-red;

    @include mobile {
      display: none;
    }

    ul {
      list-style: none;
      font-weight: 700;
    }

    .tags-title {
      display: flex;
      align-items: center;
      gap: 12px;
      ion-icon,
      span {
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        @include sm-pad {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .hashtags-box {
      display: flex;
      flex-wrap: wrap;
      font-size: 24px;
      line-height: 36px;
      row-gap: 8px;
      column-gap: 24px;
      max-width: 260px;
      @include pad {
        font-size: 16px;
        line-height: 24px;
        column-gap: 16px;
      }
    }
  }

  hr {
    @include mobile {
      display: none;
    }
  }
}
