@import "sets/variables";
@import "sets/extend";
@import "sets/mixins";
@import "sets/fontsize";

@import "pages/layouts";
@import "pages/index";
@import "pages/products";
@import "pages/store";
@import "pages/branch_location";
@import "pages/question";
@import "pages/blog";
@import "pages/projects";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans TC", "Roboto";
  line-height: 1;
  font-weight: 400;
}

/* Layout****** */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 12px;

  @include pad {
    padding: 80px 36px;
  }

  @include mobile {
    padding: 40px 16px;
  }
}

.home-flexbox {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.home-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.grid {
  display: grid;
  column-gap: 24px;
  row-gap: 80px;

  @include pad {
    row-gap: 40px;
  }
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);

  @include pad {
    grid-template-columns: 1fr 1fr;
  }
  @include sm-pad {
    grid-template-columns: 1fr;
  }
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);

  @include pad {
    grid-template-columns: 1fr 1fr;
  }
  @include sm-pad {
    grid-template-columns: 1fr;
  }
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}
